/* importo bootstrap dalla cartella node_modules usando l'alias settato in vite.config.js */
@import "~bootstrap/scss/bootstrap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: white;
}

header{
   
    img.logo {
    width: 4rem;
    margin: 1rem;
    }
    a{
    color: white;
    text-decoration: none;
        &:hover{
        color: orange;
        text-decoration:underline ;
        }

    } 
    .my-height{
        background-image: url(../img/jumbotron.jpg);
        background-position: top;
        background-size:cover;
        height: 30rem;
    }
}
main{
    .btn{
        background-color: orange;
        color: white;
        
        &:hover{
           --bs-btn-hover-border-color: orange;
           color: orange; 
        }
    }
    .my-card{
    height: 250px;
        img{
        width: 100%;
        height: 100%;
        object-fit:cover;
        }
        p{
        text-align: center;
        padding-top: 5px;
        font-size: 1rem;
        }
        a{
        color: white;
        text-decoration: none;
        }
        .my-class{
        width: 100%;
        height: 200px;
        }
        &:hover{
            a{
                color: orange;
            }
        }
    }
    .card-show{
    background-color: red;
        img{
            width: 100%;
        }
    }
}
footer{
    section.bg-primary{
        p{  font-size: 10px;    };
        img{    margin: 0 1rem; }; 
    }
    section.my-section{
        background-image: url(../img/footer-bg.jpg);
        background-size: cover;

        p {     cursor: pointer;    }
        
        .my-bg{
        background-image: url(../img/dc-logo-bg.png);
        background-position: center;
        background-repeat: no-repeat;
        
        }
        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            li{
                font-size: 8px;
            }
        }
    }
    .btn{
        background-color: orange;
        color: white;
        
        &:hover{
           --bs-btn-hover-border-color: orange;
           color: orange; 
        }
    }
    
}
